<div class="row justify-content-center">
  <div class="col-4">
    <h1>Forgot Password</h1>
    <div *ngIf="errors$ | async as errors">
      {{ errors | json }}
    </div>
    <ng-container  *ngIf="message$ | async as message">
      <div class="alert valid" *ngIf="message.message">
        {{ message.message }}
      </div>
      <div *ngIf="!message.message">
        <form [formGroup]="forgotForm" novalidate (submit)="sendResetLink()">
          <fieldset [disabled]="isSubmitting">
            <div>
              <label>
                Enter email address associated with your account <br />
                <input type="text" formControlName="email" placeholder="Email Address" />
              </label>
            </div>
          </fieldset>
          <er-button type="submit" className="info">Send Password Reset Link</er-button>
        </form>
      </div>
    </ng-container>
  </div>
</div>
