<div class="row justify-content-center">
  <div class="col-4">
    <h1>Reset Password</h1>
    <div [hidden]="!isSuccess" class="alert valid">Success</div>
    <form [formGroup]="resetForm" novalidate (submit)="resetPassword()">
      <fieldset [disabled]="isSubmitting">
        <div>
          <input type="password" formControlName="newPassword" placeholder="New Password" />
        </div>
        <div>
          <input type="password" formControlName="confirmPassword" placeholder="Confirm New Password" />
        </div>
      </fieldset>
      <er-button type="submit" className="info">Reset Password</er-button>
    </form>
  </div>
</div>