<div class="container">
  <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <ng-container *ngIf="loggedInUser$ | async; let user">
          <div class="col-10"><p>Hi {{ user.first_name ? user.first_name : user.email }}</p></div>
          <div class="col-2"><er-button className="btn info" (click)="signOut()">Sign Out</er-button></div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
